USE [master]
GO
/****** Object:  Database [CharacterDesignForm]    Script Date: 8/2/2025 2:52:36 PM ******/
CREATE DATABASE [CharacterDesignForm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CharacterDesignForm', FILENAME = N'/var/opt/mssql/data/CharacterDesignForm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CharacterDesignForm_log', FILENAME = N'/var/opt/mssql/data/CharacterDesignForm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CharacterDesignForm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CharacterDesignForm]
GO
/****** Object:  Table [dbo].[character_chart]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_chart](
	[character_id] [uniqueidentifier] NOT NULL,
	[full_name] [varchar](50) NULL,
	[reason_name] [varchar](max) NULL,
	[nickname] [varchar](50) NULL,
	[reason_nickname] [varchar](max) NULL,
	[birthdate] [varchar](50) NULL,
	[age] [int] NULL,
	[date_created] [datetime] NULL,
 CONSTRAINT [PK_character_chart] PRIMARY KEY CLUSTERED 
(
	[character_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_family]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_family](
	[family_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[mother] [varchar](50) NULL,
	[relationship_with_mother] [varchar](50) NULL,
	[father] [varchar](50) NULL,
	[relationship_with_father] [varchar](50) NULL,
	[siblings] [varchar](50) NULL,
	[relationship_with_siblings] [varchar](50) NULL,
	[spouse] [varchar](50) NULL,
	[relationship_with_spouse] [varchar](50) NULL,
	[children] [varchar](50) NULL,
	[other_family] [varchar](50) NULL,
 CONSTRAINT [PK_character_family] PRIMARY KEY CLUSTERED 
(
	[family_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_favorites]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_favorites](
	[favorites_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[color] [varchar](50) NULL,
	[least_fav_color] [varchar](50) NULL,
	[music] [varchar](50) NULL,
	[food] [varchar](50) NULL,
	[literature] [varchar](50) NULL,
	[form_of_entertainment] [varchar](50) NULL,
	[expressions] [varchar](50) NULL,
	[mode_of_transport] [varchar](50) NULL,
	[most_prized_possession] [varchar](50) NULL,
 CONSTRAINT [PK_character_favorites] PRIMARY KEY CLUSTERED 
(
	[favorites_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_goals]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_goals](
	[goal_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[drives_and_motivations] [varchar](50) NULL,
	[short_goals] [varchar](50) NULL,
	[long_goals] [varchar](50) NULL,
	[plans_to_accomplish] [varchar](max) NULL,
	[other_chars_affected] [varchar](max) NULL,
 CONSTRAINT [PK_character_goals] PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_habits]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_habits](
	[habits_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[hobbies] [varchar](50) NULL,
	[plays_instrument] [bit] NULL,
	[plays_instrument_type] [varchar](50) NULL,
	[plays_sport] [bit] NULL,
	[plays_sport_type] [varchar](50) NULL,
	[spend_rainy_day] [varchar](max) NULL,
	[spend_habits] [varchar](max) NULL,
	[smoke] [bit] NULL,
	[drink] [bit] NULL,
	[medication] [varchar](max) NULL,
	[do_too_much] [varchar](max) NULL,
	[do_too_little] [varchar](max) NULL,
	[extremely_skilled] [varchar](50) NULL,
	[extremely_unskilled] [varchar](50) NULL,
	[nervous_tics] [varchar](50) NULL,
	[body_posture] [varchar](50) NULL,
	[mannerisms] [varchar](50) NULL,
	[pecularities] [varchar](50) NULL,
 CONSTRAINT [PK_character_habits] PRIMARY KEY CLUSTERED 
(
	[habits_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_past]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_past](
	[past_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[hometown] [varchar](50) NULL,
	[childhood] [varchar](50) NULL,
	[pets] [varchar](50) NULL,
	[first_memory] [varchar](50) NULL,
	[most_important_memory] [varchar](50) NULL,
	[why_important_memory] [varchar](max) NULL,
	[childhood_hero] [varchar](50) NULL,
	[dream_job] [varchar](50) NULL,
	[education] [varchar](50) NULL,
	[religion] [varchar](50) NULL,
	[finances] [varchar](50) NULL,
 CONSTRAINT [PK_character_past] PRIMARY KEY CLUSTERED 
(
	[past_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_personalities]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_personalities](
	[personality_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[good_personality] [varchar](50) NULL,
	[bad_personality] [varchar](50) NULL,
	[mood] [varchar](50) NULL,
	[humor] [varchar](50) NULL,
	[greatest_joy] [varchar](50) NULL,
	[greatest_fear] [varchar](50) NULL,
	[greatest__joy_fear_why] [varchar](max) NULL,
	[single_event_turmoil] [varchar](max) NULL,
	[most_at_ease] [varchar](50) NULL,
	[most_ill_at_ease] [varchar](50) NULL,
	[enraged] [varchar](50) NULL,
	[depressed] [varchar](50) NULL,
	[priorities] [varchar](50) NULL,
	[life_philosophy] [varchar](50) NULL,
	[one_wish_in_life] [varchar](50) NULL,
	[one_wish_in_life_why] [varchar](max) NULL,
	[soft_spot] [varchar](50) NULL,
	[soft_spot_obvious] [bit] NULL,
	[greatest_strength] [varchar](50) NULL,
	[greatest_weakness] [varchar](50) NULL,
	[biggest_regret] [varchar](50) NULL,
	[smallest_regret] [varchar](50) NULL,
	[biggest_accomplishment] [varchar](50) NULL,
	[smallest_accomplishment] [varchar](50) NULL,
	[past_failures] [varchar](50) NULL,
	[past_failures_why] [varchar](50) NULL,
	[darkest_secret] [varchar](50) NULL,
	[anyone_know_darkest_secret] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_phys_traits]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_phys_traits](
	[phys_trait_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NULL,
	[age_appearance] [int] NULL,
	[weight] [float] NULL,
	[height] [float] NULL,
	[body_build] [varchar](50) NULL,
	[face_shape] [varchar](50) NULL,
	[eye_color] [varchar](50) NULL,
	[glasses_or_contacts] [varchar](50) NULL,
	[skin_tone] [varchar](50) NULL,
	[marks] [varchar](50) NULL,
	[features] [varchar](50) NULL,
	[hair_color] [varchar](50) NULL,
	[hair_type] [varchar](50) NULL,
	[hair_style] [varchar](50) NULL,
	[voice] [varchar](50) NULL,
	[overall_attractiveness] [varchar](50) NULL,
	[phys_disabilities] [varchar](50) NULL,
	[dress_fashion] [varchar](50) NULL,
	[favorite_outfit] [varchar](50) NULL,
	[jewel_or_accessories] [varchar](50) NULL,
 CONSTRAINT [PK_character_phys_traits] PRIMARY KEY CLUSTERED 
(
	[phys_trait_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_present]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_present](
	[present_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[cur_location] [varchar](50) NULL,
	[cur_living_with] [varchar](50) NULL,
	[pets] [varchar](50) NULL,
	[religion] [varchar](50) NULL,
	[occupation] [varchar](50) NULL,
	[finances] [varchar](50) NULL,
 CONSTRAINT [PK_character_present] PRIMARY KEY CLUSTERED 
(
	[present_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_relationships]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_relationships](
	[relationships_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[opinion_of_others] [varchar](50) NULL,
	[hide_emotion] [bit] NULL,
	[most_hates] [varchar](50) NULL,
	[best_friend] [varchar](50) NULL,
	[love_interest] [varchar](50) NULL,
	[advice_from_person] [varchar](50) NULL,
	[responsible_for_person] [varchar](50) NULL,
	[shy_around_person] [varchar](50) NULL,
	[admire_person] [varchar](50) NULL,
	[secret_admirer] [varchar](50) NULL,
	[important_person_before_story_starts] [varchar](50) NULL,
	[important_person_after_story_starts] [varchar](50) NULL,
 CONSTRAINT [PK_character_relationships] PRIMARY KEY CLUSTERED 
(
	[relationships_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_self_perception]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_self_perception](
	[self_perception_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[feels_about_themselves] [varchar](max) NULL,
	[one_word_description] [varchar](50) NULL,
	[one_para_description] [varchar](max) NULL,
	[best_trait] [varchar](50) NULL,
	[worst_trait] [varchar](50) NULL,
	[best_phys_char] [varchar](50) NULL,
	[worst_phys_char] [varchar](50) NULL,
	[others_perception] [varchar](max) NULL,
	[others_change] [varchar](max) NULL,
 CONSTRAINT [PK_character_self_perception] PRIMARY KEY CLUSTERED 
(
	[self_perception_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_traits]    Script Date: 8/2/2025 2:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_traits](
	[traits_id] [uniqueidentifier] NOT NULL,
	[character_id_fk] [uniqueidentifier] NOT NULL,
	[optimist] [bit] NULL,
	[pessimist] [bit] NULL,
	[introvert] [bit] NULL,
	[extrovert] [bit] NULL,
	[daredevil] [bit] NULL,
	[cautious] [bit] NULL,
	[logical] [bit] NULL,
	[emotional] [bit] NULL,
	[disorderly] [bit] NULL,
	[methodical] [bit] NULL,
	[prefers_working] [bit] NULL,
	[prefers_relaxing] [bit] NULL,
	[confident] [bit] NULL,
	[unsure] [bit] NULL,
	[animal_lover] [bit] NULL,
 CONSTRAINT [PK_character_traits] PRIMARY KEY CLUSTERED 
(
	[traits_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[character_family]  WITH CHECK ADD  CONSTRAINT [FK_character_family_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_family] CHECK CONSTRAINT [FK_character_family_character_chart]
GO
ALTER TABLE [dbo].[character_favorites]  WITH CHECK ADD  CONSTRAINT [FK_character_favorites_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_favorites] CHECK CONSTRAINT [FK_character_favorites_character_chart]
GO
ALTER TABLE [dbo].[character_goals]  WITH CHECK ADD  CONSTRAINT [FK_character_goals_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_goals] CHECK CONSTRAINT [FK_character_goals_character_chart]
GO
ALTER TABLE [dbo].[character_habits]  WITH CHECK ADD  CONSTRAINT [FK_character_habits_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_habits] CHECK CONSTRAINT [FK_character_habits_character_chart]
GO
ALTER TABLE [dbo].[character_past]  WITH CHECK ADD  CONSTRAINT [FK_character_past_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_past] CHECK CONSTRAINT [FK_character_past_character_chart]
GO
ALTER TABLE [dbo].[character_personalities]  WITH CHECK ADD  CONSTRAINT [FK_character_personalities_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_personalities] CHECK CONSTRAINT [FK_character_personalities_character_chart]
GO
ALTER TABLE [dbo].[character_phys_traits]  WITH CHECK ADD  CONSTRAINT [FK_character_phys_traits_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_phys_traits] CHECK CONSTRAINT [FK_character_phys_traits_character_chart]
GO
ALTER TABLE [dbo].[character_present]  WITH CHECK ADD  CONSTRAINT [FK_character_present_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_present] CHECK CONSTRAINT [FK_character_present_character_chart]
GO
ALTER TABLE [dbo].[character_relationships]  WITH CHECK ADD  CONSTRAINT [FK_character_relationships_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_relationships] CHECK CONSTRAINT [FK_character_relationships_character_chart]
GO
ALTER TABLE [dbo].[character_self_perception]  WITH CHECK ADD  CONSTRAINT [FK_character_self_perception_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_self_perception] CHECK CONSTRAINT [FK_character_self_perception_character_chart]
GO
ALTER TABLE [dbo].[character_traits]  WITH CHECK ADD  CONSTRAINT [FK_character_traits_character_chart] FOREIGN KEY([character_id_fk])
REFERENCES [dbo].[character_chart] ([character_id])
GO
ALTER TABLE [dbo].[character_traits] CHECK CONSTRAINT [FK_character_traits_character_chart]
GO
USE [master]
GO
